@use '../util/' as u;

html
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after
{
    box-sizing: inherit;
}

body
{
    margin: 1rem;
    padding: 0px 1rem;
    font-family: u.$font;
    font-size: u.$font-med;
    font-weight: u.$weight;
    background-color: u.$desaturatedDarkBlue;    
}

h5
{
    font-size: u.$font-lg;
    margin-bottom: 0;

    @include u.breakpoint-up(medium){
        font-size: 3rem;
    }
}

p
{
    padding-bottom: 0;
    margin-bottom: 0;
}

